<div class="chatListSearchPanel">
	<div class="listOperatorContent">
		<ul class="nav nav-pills" id="listOperatorTab">
		  <li role="presentation" class="conmu left active">
			<a title="聊天" class="conmuButton" href="#conmu"  onFocus="this.blur()" style="height: 22px">
				<span class="bag"></span>
				<span class="unreadDot" id="totalUnreadDot" style="display: none">0</span>
			</a>
		  </li>
		  <div class="cutOffRule"></div>
		  <li role="presentation" class="addr right">
		  	<a title="通讯录" class="addrButton" href="#addr" onFocus="this.blur()" style="height: 22px">
				<span class="bag"></span>
			</a>
		  </li>
		</ul>
	</div>
	<div class="chatListSearchInput left">
		<span class="chatListSearchIcon left"></span>
		<input name="search" class="left" id="conv_search" type="text" placeholder="搜索"/>
	</div>
	<div class="clr"></div>
</div>

