<div class="{{type}}">
	<div class="time">
		<span class="timeBg left"></span>
		13:00
		<span class="timeBg right"></span>
	</div>
	<div class="chatItemContent">
		<img class="avatar" src="./images/avatar_default.png" title="zhengyan"/>
		<div class="cloud cloudText">
			<div class="cloudPannel">
				<div class="sendStatus"></div>
				<div class="cloudBody">
					<div class="cloudContent">
						<pre style="white-space:pre-wrap;background-color : transparent ">{{message}}</pre>
					</div>
					<div class="cloudArrow"></div>
				</div>
			</div>
		</div>
	</div>
</div>